.headder{
    background-color: #e6a95a;
    font-size: 30px;
    height: 50px;
    list-style: 50px;
    text-align: center;
}
a{
text-decoration: none;
color:black;
}
input,select{
    -webkit-appearance: none;
    outline: none;
    color: #333;
    overflow: visible;
    display: inline-block;
    text-align: start;
    width: 1000px;
    height: 30px;
    margin-top: 20px;
    font-size: 20px;
    border-width:0.1px;

}

label{
    font-size: 25px;
    float: left;
    display: inline-block;
    width: 200px;
    margin-top: 15px;
}

form{
    height: 800px;
    width: 1400px;
    margin: auto;
    text-align: center;
}
button{
    position: relative;
    width: 80px;
    height: 40px;
    top: 100px;
    font-size: 20px;
}
.submit{
    background-color: rgb(30, 123, 185);
    color: #fff;
}
input:hover ,.checked,select:hover{
    border: rgb(30, 123, 185) 1px solid;
    transition:border linear .2s,box-shadow linear .5s;
    box-shadow:0 0 18px rgba(30, 123, 185,3);
}
span{
    color: red;
}